* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.wrapper {
    height: 100vh;
    width: 100%;
    max-width: 100%;
    max-height: 100vh;
    background-image: linear-gradient(#2e3a46 0vh, #2e3a46 8vh, #1e2d3b 8vh, #1e2d3b 100%);
}

.logo img {
    height: 45px;
    width: 45px;
    margin-left: 10px;
    margin-top: 2px;
}

.main_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 70px;
    height: 92vh;
    width: 100%;
    max-width: 100%;
    overflow: auto;
}

.song_box {
    width: 160px;
    height: 272px;
    margin: 10px 20px 0 20px;
    padding: 10px;
    text-align: center;
    background-color: #2e3a46;
}

.song_box img {
    width: 110px;
    height: 110px;
    margin-bottom: 5px;
}

.song_box h2 {
    color: white;
    text-transform: uppercase;
    font-size: 19px;
    margin-bottom: 20px;
}

.song_box p {
    color: #7c7e80;
    font-size: 15px;
}