<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="wrapper" id="root">
        <div class="header">
            <img src="img/17-176153_download-logo-spotify-png.png" alt="logo">
            <div class="genere_selection">
                <label for="genere">Seleziona il genere</label>
                <select name="genere" id="genere" v-model="gender">
                    <option value="Rock">Rock</option>
                    <option value="Jazz">Jazz</option>
                    <option value="Pop">Pop</option>
                    <option value="Metal">Metal</option>
                    <option value="">All</option>
                </select>
            </div>
        </div>
        <div class="main_content">  
            <div class="song_box" v-for="e in albumList" :class="(e.genre.includes(gender))? null : 'hidden'">
                <img :src="e.poster" alt="">
                <h2>{{e.title}}</h2>
                <p>{{e.author}}</p>
                <p>{{e.year}}</p>
            </div>
        </div>
    </div>
    <script src="js/master.js"></script>
</body>
</html>